DB_ROOT_PASSWORD=jean
DB_NAME=skincarebeauty
DB_USER=skincarebeauty_user
DB_PASSWORD=azertyui

MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS=noreply@skincarebeauty.fr
MAIL_FROM_NAME=SkinCareBeauty
